*{
    margin: 0;
    padding: 0;
    font-family: Chandas;
}
.body{
    background-color: blue;
}
.form{
    background-color: aqua;
    height: 110vh;
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    padding: ;
}
.input-box{
    margin-top: 10px;
    color: coral;
}
.input-box input{
    border-top: none;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    padding: 5px;
}
::placeholder{
    font-size: 16px;
}
.age{
    color: cornflowerblue;
}
.btn{
    text-align: center;
}
.btn input{
    padding: 0 40px;
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn input:hover{
    background-color: brown;

}